@(message: String)

@main("Welcome to Survival of the Fittest") {

    <script src="@routes.Assets.at("javascripts/phaser.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/utils.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/economy.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/hero.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/game.js")" type="text/javascript"></script>

}
